@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&family=Ubuntu+Mono&display=swap');
*{
	font-family:'Dosis', sans-serif;
}
code,pre{
	font-family:'Ubuntu Mono', monospace;
}
h1,h2,h3,h4{
	color:#073b4c;
}
